.productCard {
  border: 1px solid rgb(156, 144, 32);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: rgb(131, 98, 8);
  width: 40rem;
}

.productImage {
  width: 80%;
  border-radius: 4px;
}

.productTitle {
  font-size: 3rem;
  font-weight: bold;
  margin: 8px 0;
}

.productDescription {
  font-size: 1rem;
  color: rgb(115, 138, 11);
}

.productPrice {
  font-size: 2rem;
  color: rgb(70, 27, 2);
  font-weight: bold;
  margin: 8px 0;
}

.productButton {
  background-color: rgb(34, 121, 23);
  color: rgb(117, 129, 5);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.productButton:hover {
  background-color: rgb(151, 17, 17);
}

.productQty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
}
.productQty button {
    
  background-color: rgb(89, 99, 2);
  color: rgb(149, 187, 11);
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.productQty button:hover {
  background-color: rgb(83, 78, 3);
}